<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wishiext.wishiext.dao.CustomDAO">

    <insert id="insertCustom" parameterType="CustomVO">
        insert
        all
        into CUSTOM(busi_num, custom, shortName, ceo, charge_person, busi_condition, item, post_num, addr1,
                           addr2, tel, fax, homePage, co_yn, foreign_yn, tax_yn, country_eng, country_kor,
                           special_relation, trade_stop, contract_period_S, contract_period_E, regi_info_man,
                           regi_info_date)
        values (
        #{busi_num},
        #{custom},
        #{shortName},
        #{ceo},
        #{charge_person},
        #{busi_condition},
        #{item},
        #{post_num},
        #{addr1,jdbcType=VARCHAR},
        #{addr2,jdbcType=VARCHAR},
        #{tel},
        #{fax},
        #{homePage},
        #{co_yn,jdbcType=VARCHAR},
        #{foreign_yn,jdbcType=VARCHAR},
        #{tax_yn,jdbcType=VARCHAR},
        #{country_eng},
        #{country_kor},
        #{special_relation,jdbcType=VARCHAR},
        #{trade_stop,jdbcType=VARCHAR},
        #{contract_period_S,jdbcType=VARCHAR},
        #{contract_period_E,jdbcType=VARCHAR},
        #{regi_info_man},
        sysdate
        )
        into
        account
        (
        busi_num,
        factory,
        trade_bank,
        account_num
        )
        values
        (
        #{busi_num},
        #{factory},
        #{trade_bank},
        #{account_num}
        )
        select *
        from dual
    </insert>


    <!--  거래처 목록  -->
    <select id="customList" resultType="CustomVO">
        SELECT busi_num, custom
        FROM CUSTOM
    </select>


    <!--거래처 검색-->
    <select id="customSearchList" parameterType="String" resultType="CustomVO">
        select busi_num, custom
        from custom
        where busi_num like '%' || #{busi_num} || '%'
          and custom like '%' || #{custom} || '%'
    </select>

    <!--거래처 정보 조회-->
    <select id="customDetail" parameterType="String" resultType="CustomVO">
        select C.*
             , A.*
        from custom C
                 inner join account A on C.busi_num = A.busi_num
        where A.busi_num like #{busi_num} || '%'
           or C.custom like #{custom} || '%'
    </select>


    <!--거래처 삭제-->
    <delete id="deleteCustom" parameterType="String">
        DELETE
        FROM CUSTOM
        WHERE busi_num = #{busiNum}
    </delete>


    <!--거래처 정보 수정-->
    <update id="updateCustom" parameterType="CustomVO">
        update custom
        set shortName=#{shortName,jdbcType=CHAR},
            ceo=#{ceo,jdbcType=CHAR},
            charge_person=#{charge_person,jdbcType=CHAR},
            busi_condition=#{busi_condition,jdbcType=CHAR},
            item=#{item,jdbcType=CHAR},
            post_num=#{post_num,jdbcType=CHAR},
            addr1=#{addr1,jdbcType=VARCHAR},
            addr2=#{addr2,jdbcType=VARCHAR},
            tel=#{tel,jdbcType=CHAR},
            fax=#{fax,jdbcType=CHAR},
            homePage=#{homePage,jdbcType=CHAR},
            co_yn=#{co_yn,jdbcType=CHAR,jdbcType=CHAR},
            foreign_yn=#{foreign_yn,jdbcType=CHAR},
            tax_yn=#{tax_yn,jdbcType=CHAR},
            country_eng=#{country_eng,jdbcType=CHAR},
            country_kor=#{country_kor,jdbcType=CHAR},
            special_relation=#{special_relation,jdbcType=CHAR},
            trade_stop=#{trade_stop,jdbcType=CHAR},
            contract_period_S=#{contract_period_S,jdbcType=CHAR},
            contract_period_E=#{contract_period_E,jdbcType=CHAR},
            modi_info_man=#{modi_info_man,jdbcType=CHAR},
            modi_info_date=sysdate
        where busi_num = #{busi_num}
    </update>
</mapper>